[mysqld]
datadir=/var/mysql/data
socket=/var/mysql/mysql.sock
symbolic-links=0

innodb_file_per_table = ON
skip_name_resolve = ON

[mysqld_safe]
log-error=/var/mysql/mariadb.log
pid-file=/var/mysql/mariadb.pid

!includedir /etc/my.cnf.d
